@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem; /* 320px  — custom */
  --breakpoint-xm: 24rem; /* 375px  — custom */
  --breakpoint-xl: 27rem; /* 425px  — custom */
  --breakpoint-sm: 40rem; /* 640px  — default */
  --breakpoint-md: 48rem; /* 768px  — default */
  --breakpoint-lg: 64rem; /* 1024px — default */
  --breakpoint-xl: 80rem; /* 1280px — default */
  --breakpoint-2xl: 96rem; /* 1536px — default */
  --breakpoint-3xl: 120rem; /* 1920px */
}

body {
  @apply bg-[#0f172a] text-slate-300;
}
